@inherits LayoutComponentBase

<div class="page">
	@if (masterKey is not null) {
		<div class="sidebar">
			<NavMenu />
		</div>
	}

	<main>
		<div class="top-row px-4">
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code {
	private string? masterKey;

	protected override async Task OnInitializedAsync() {
		UpdateMasterKey(PasswordDatabase.MasterKey);

		PasswordDatabase.OnMasterKeyUpdate += UpdateMasterKey;
	}

	private void UpdateMasterKey(string? key) {
		masterKey = key;
	}
}