<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">PassBob</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="master" Match="NavLinkMatch.All">
				<span class="bi bi-key-fill x3" aria-hidden="true"></span>
				<p>Changer la Master Key</p>
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="list">
				<span class="bi bi-file-lock2-fill" aria-hidden="true"></span>
				<p>Mots de Passes</p>
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="add" Match="NavLinkMatch.All">
				<span class="bi bi-file-plus-fill" aria-hidden="true"></span>
				<p>Ajouter un Mot de Passe</p>
			</NavLink>
		</div>
	</nav>
</div>
