@page "/add"
@inject PasswordDatabase Database
@inject NavigationManager Navigation

<h3>Ajouter un Mot de Passe</h3>

<EditForm Model="@newPassword" OnValidSubmit="AddPassword">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label for="website">Website:</label>
        <InputText id="website" @bind-Value="newPassword.Website" />
    </div>
    <div>
        <label for="username">Username:</label>
        <InputText id="username" @bind-Value="newPassword.Username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="newPassword.DecryptedPassword" type="password" />
    </div>
    <button type="submit">Ajouter</button>
</EditForm>

@code {
    private Password newPassword = new();

    protected override async Task OnInitializedAsync() {
        string? masterKey = await SecureStorageService.GetEncryptedMasterKeyAsync();

        if (string.IsNullOrEmpty(masterKey)) {
            Navigation.NavigateTo("/login");
        }
    }

    private async Task AddPassword() {
        await PasswordDatabase.SavePasswordAsync(newPassword);
        newPassword = new(); // Reset form
    }
}
