@page "/master"
@inject NavigationManager Navigation

<h3>Modifier la Master Key</h3>
<EditForm Model="@editKeyModel" OnValidSubmit="HandleModifyKey">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div>
		<label for="masterKey">Master Key:</label>
		<InputText id="masterKey" @bind-Value="editKeyModel.MasterKey" type="password" />
	</div>
	<button type="submit">Modifier</button>
</EditForm>

@code {
	private LoginModel editKeyModel = new();

	protected override async Task OnInitializedAsync() {
		string? masterKey = PasswordDatabase.MasterKey;

		if (string.IsNullOrEmpty(masterKey)) {
			Navigation.NavigateTo("/login");
		}
	}

	private async Task HandleModifyKey() {
		await PasswordDatabase.UpdateMasterKey(editKeyModel.MasterKey);
		Navigation.NavigateTo("/list");
	}
}
