@page "/"
@page "/login"
@inject NavigationManager Navigation

<h3>Connexion</h3>
<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div>
		<label for="masterKey">Master Key:</label>
		<InputText id="masterKey" @bind-Value="loginModel.MasterKey" type="password" />
	</div>
	<button type="submit">Se Connecter</button>

</EditForm>
<a href="/start">
	<button>Réinitialiser les Mots de Passes</button>
</a>

@code {
	private LoginModel loginModel = new();
	private string? masterKey;

	protected override async Task OnInitializedAsync() {
		masterKey = await SecureStorageService.GetEncryptedMasterKeyAsync();

		if (string.IsNullOrEmpty(masterKey)) {
			Navigation.NavigateTo("/start");
		}
	}

	private async Task HandleLogin() {
		if (await PasswordDatabase.TryLoginAsync(loginModel.MasterKey)) {
			Navigation.NavigateTo("/");
		}
	}
}
