@page "/login"
@inject NavigationManager Navigation

@if (masterKey is not null) {
	<h3>Connexion</h3>
	<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<div>
			<label for="masterKey">Master Key:</label>
			<InputText id="masterKey" @bind-Value="loginModel.MasterKey" type="password" />
		</div>
		<button type="submit">Se Connecter</button>
	</EditForm>
}
else {
	<h3>Création de Clé</h3>
	<EditForm Model="@loginModel" OnValidSubmit="HandleSignup">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<div>
			<label for="masterKey">Master Key:</label>
			<InputText id="masterKey" @bind-Value="loginModel.MasterKey" type="password" />
		</div>
		<button type="submit">Créer Master Key</button>
	</EditForm>
}

@code {
    private LoginModel loginModel = new();
	private string? masterKey;

    protected override async Task OnInitializedAsync() {
        masterKey = await SecureStorageService.GetEncryptedMasterKeyAsync();
    }

    private async Task HandleLogin() {
		if (await PasswordDatabase.TryLoginAsync(loginModel.MasterKey)) {
			Navigation.NavigateTo("/");
		}
    }

    private void HandleSignup() {
        PasswordDatabase.SetMasterKeyDestructive(loginModel.MasterKey);
        Navigation.NavigateTo("/");
    }
}
