@page "/list"
@inject NavigationManager Navigation

<h3>Liste des Mots de Passe</h3>

@if (passwords != null) {
	<ul>
		@foreach (Password password in passwords) {
			<li>
				<strong>@password.Website</strong> - @password.Username -
				<button @onclick="() => password.IsVisible = ! password.IsVisible">
					Afficher en Clair
				</button>
				@* <button @onclick="() => EditPassword(password)">
					Modifier
				</button> *@
				<button @onclick="() => DeletePassword(password)">
					Supprimer
				</button>
				@if (password.IsVisible) {
					<div>@password.DecryptedPassword</div>
				}
			</li>
		}
	</ul>
}

@code {
	private List<Password> passwords;

	protected override async Task OnInitializedAsync() {
		string? masterKey = PasswordDatabase.MasterKey;

		if (string.IsNullOrEmpty(masterKey)) {
			Navigation.NavigateTo("/login");
		}

		passwords = await PasswordDatabase.GetPasswordsAsync();
	}

	@* private async Task EditPassword(Password password) {
		Navigation.NavigateTo("/edit");
	} *@

	private async Task DeletePassword(Password password) {
		await PasswordDatabase.DeletePasswordAsync(password);
		passwords.Remove(password);
	}
}
