@page "/reset"
@inject NavigationManager Navigation

@if (masterKey is not null) {
	<h3>Réinitialisation de la Master Key</h3>

	<h2>
		ATTENTION, CELA SUPPRIMERA TOUS LES MOTS DE PASSES QUE VOUS AVEZ DANS LE COFFRE-FORT
	</h2>
}
else {
	<h3>Création de la Master Key</h3>
}

<EditForm Model="@resetModel" OnValidSubmit="HandleResetMasterKey">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div>
		<label for="masterKey">Master Key:</label>
		<InputText id="masterKey" @bind-Value="resetModel.MasterKey" type="password" />
	</div>
	<button type="submit">Créer Master Key</button>
</EditForm>

@code {
	private ResetKeyModel resetModel = new();
	private string? masterKey;

	protected override async Task OnInitializedAsync() {
		masterKey = await SecureStorageService.GetEncryptedMasterKeyAsync();
	}

	private async void HandleResetMasterKey() {
		await PasswordDatabase.SetMasterKeyDestructive(resetModel.MasterKey);
		Navigation.NavigateTo("/");
	}
}
